@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
main {
  padding-top: 80px;
}

.nav .nav-left li {
  padding-bottom: 16px;
}
.nav .nav-left li a {
  color: #fff;
  font-size: 20px;
}

.mission {
  margin-top: 50px;
  margin-bottom: 122px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #f4f0f8;
  padding: 83px 54px 109px 86px;
}
.mission .mission-left h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}
.mission .mission-left h1 {
  max-width: 481px;
  padding: 24px 0 16px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
}
.mission .mission-left p {
  max-width: 516px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.mission .mission-right h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}
.mission .mission-right h1 {
  max-width: 475px;
  padding: 24px 0 16px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
}
.mission .mission-right p {
  max-width: 516px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}

.about-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 128px;
}
.about-team .about-team-left h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
}
.about-team .about-team-left h4 {
  max-width: 519px;
  padding: 16px 0;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
}
.about-team .about-team-left p {
  max-width: 519px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.about-team .about-team-right img {
  width: 100%;
}

.about-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 64px;
  padding-bottom: 128px;
}
.about-blog .about-blog-left h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
}
.about-blog .about-blog-left h4 {
  max-width: 519px;
  padding: 16px 0;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
}
.about-blog .about-blog-left p {
  max-width: 519px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.about-blog .about-blog-right img {
  width: 100%;
}

@media (max-width: 950px) {
  .mission {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px 20px 30px !important;
  }
  .about-team .about-team-left h3 {
    font-size: 28px;
  }
  .about-team .about-team-left h4 {
    line-height: 130%;
    font-size: 18px !important;
  }
  .about-team .about-team-left p {
    line-height: 130%;
    font-size: 14px !important;
  }
  .about-blog .about-blog-left h3 {
    font-size: 28px;
  }
  .about-blog .about-blog-left h4 {
    line-height: 130%;
    font-size: 18px !important;
  }
  .about-blog .about-blog-left p {
    line-height: 130%;
    font-size: 14px !important;
  }
}
@media (max-width: 700px) {
  .mission {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-team {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-team .about-team-right img {
    transform: rotate(180deg);
  }
  .about-blog {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .mission .mission-left h1 {
    font-size: 20px !important;
    line-height: 140% !important;
  }
  .mission .mission-left p {
    font-size: 12px !important;
    line-height: 140% !important;
  }
  .mission .mission-right h1 {
    font-size: 20px !important;
    line-height: 140% !important;
  }
  .mission .mission-right p {
    font-size: 12px !important;
    line-height: 140% !important;
  }
  .about-team {
    margin-top: -70px;
  }
  .about-blog {
    margin-top: -70px;
  }
}